[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-coverage = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
cprofilev = "*"

[packages]
requests = "*"
records = "*"
logzero = "*"
alembic = "*"
colorama = {markers = "sys_platform == 'win32'"}
apscheduler = "*"

[requires]
python_version = "3.5"

[scripts]
smartva-dhis2 = "python -m smartvadhis2"
smartva-dhis2-cli = "python smartvadhis2/cli.py"
